@import '../index.scss';

.main-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
}

.main-header {
  h2 {
    font-size: 1rem;
  }
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
  }

  &.years-list {
    display: flex;
    gap: 50px;
  }
}
