@import '../index.scss';

.stars {
  position: relative;
  display: inline-block;
  color: $star-none;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5rem;

  .star {
    position: absolute;
    top: -22px;
  }
  .silver {
    color: $star-silver;
    text-shadow: 0 0 5px $star-silver;
  }
  .gold {
    color: $star-gold;
    text-shadow: 0 0 5px $star-gold;
  }
}
