@import '../index.scss';

.stars {
  display: inline-flex;
  color: $star-none;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5rem;

  .silver {
    color: $star-silver;
    text-shadow: 0 0 5px $star-silver;
  }
  .gold {
    color: $star-gold;
    text-shadow: 0 0 5px $star-gold;
  }
}
