@import '../index.scss';

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;

  .page-header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .row {
    display: flex;
    gap: 10px;

    p.solution {
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        color: $color-hover;
      }
    }
  }
}
