.visualization {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  .visualization-content {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;

    .sidebar {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px;
      background-color: #1b1b32;
    }
    .component {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
