.visualization {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  .visualization-content {
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
    flex: 1;
    gap: 10px;
    overflow: hidden;

    .sidebar {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 10px;
      background-color: #1b1b32;
    }
    .component {
      min-width: 0;
      min-height: 0;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }
}
