@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$bg-color: #0f0f23;
$color-primary: #cccccc;
$color-quiet: #666666;
$color-link: #009900;
$color-hover: #99ff99;
$star-none: #333;
$star-silver: #9999cc;
$star-gold: #ffff66;
$star-other: #66ccff;

body {
  margin: 0;
  background-color: $bg-color;
}

h1, h2, p, li, button, a {
  margin: 0;
  color: $color-primary;
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  font-weight: 400;

  &.small {
    font-size: .8rem;
  }
}

button, a {
  padding: 0;
  background-color: transparent;
  color: $color-link;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $color-hover;
  }
}

.quiet {
  color: $color-quiet;
}
