@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$bg-color: #0f0f23;
$color-primary: #cccccc;
$color-link: #009900;
$color-hover: #99ff99;
$star-none: #333;
$star-silver: #9999cc;
$star-gold: #ffff66;

body {
  margin: 0;
  background-color: $bg-color;
}

h1, h2, p, li, button, a {
  margin: 0;
  color: $color-primary;
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
}

ul {
  margin: 5px 0;
}

button, a {
  padding: 0;
  background-color: transparent;
  color: $color-link;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &.small {
    font-size: .8rem;
  }

  &:hover {
    color: $color-hover;
  }
}

.main-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
}
