body {
  margin: 0;
  background-color: #0f0f23;
}

h1, h2, p, li {
  margin: 0;
  color: #cccccc;
  font-family: monospace;
  font-size: 1.5rem;
}
ul {
  margin: 5px 0;
}

button, a {
  padding: 0;
  background-color: transparent;
  color: #009900;
  font-family: monospace;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  text-decoration: none;

  &.small {
    font-size: .8rem;
  }

  &:hover {
    color: #99ff99;
  }
}

.main-menu {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
}

.stars {
  position: relative;
  display: inline-block;
  color: #333;
  font-size: 2rem;
  line-height: 1.5rem;

  .star {
    position: absolute;
    top: -16px;
  }
  .silver {
    color: #9999cc;
    text-shadow: 0 0 5px #9999cc;
  }
  .gold {
    color: #ffff66;
    text-shadow: 0 0 5px #ffff66;
  }
}

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;

  .row {
    display: flex;
    gap: 10px;

    p.solution {
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        color: #99ff99;
      }
    }
  }
}
